#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!hauki*
!hours*
!users*
!locale*
!deploy

#################################################
# Whitelisted files
#################################################
!config_dev.env
!manage.py
!requirements*
