bleach
Django~=4.2
django-cors-headers
django-environ
django-extra-fields
django-filter
django-helusers
django-model-utils
django-modeltranslation
django-orghierarchy
django-simple-history
django-timezone-field
djangorestframework
drf-spectacular<0.27 # 0.27 breaks the schema generation
drf-writable-nested
holidays
psycopg2
requests-cache
sentry-sdk
whitenoise
elastic-apm
tzdata
pytz
