-c requirements.txt
bandit
django-extensions
factory_boy
faker
freezegun
ipython
pip-tools
pre-commit
pytest
pytest-cov
pytest-django
pytest-factoryboy
requests-mock
safety

# Keep these tools in sync with .pre-commit-config.yaml
black==24.4.2
flake8==7.1.0
isort==5.13.2
