-c requirements.txt
bandit
django-extensions
factory_boy
faker
freezegun
ipython
pip-tools
pre-commit
pytest
pytest-cov
pytest-django
pytest-factoryboy
requests-mock
safety

# Keep this in sync with .pre-commit-config.yaml
ruff==0.7.1
