Django~=5.2.9
bleach
django-cors-headers
django-environ
django-extra-fields
django-filter
django-helusers
django-logger-extra@https://github.com/City-of-Helsinki/django-logger-extra/archive/refs/tags/v0.1.0.zip
django-model-utils
django-modeltranslation
django-orghierarchy
django-simple-history
django-timezone-field
djangorestframework
drf-spectacular<0.27 # 0.27 breaks the schema generation
drf-writable-nested
elastic-apm
holidays
ipython
psycopg[c]
pytz
requests-cache
sentry-sdk[django]
tzdata
uwsgi
whitenoise
